// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* style.css */
/* --- Import Google Fonts stylesheets --- */
@import url("http://fonts.googleapis.com/
css?family=Open+Sans:400,300,700|Montserrat:400,700");

/* --- Import Components stylesheets --- */
@import url("components/avatar.css");
@import url("components/button.css");

/* --- Define basic style for fonts & colors --- */
// Defining a variable
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
}
h1, h2, h3 {
  font-family: "Montserrat", "sans-serif";
}

